/* PHASE 7: Online */

.online {
  display: block;
  position: absolute;
  background-color: lightgreen;
  text-transform: uppercase;
  vertical-align: center;
  text-align: center;
  padding: 5px 65px;
  /* width: 150px; */
  /* height: 35px; */
  z-index: 6;
  /* transform: rotate(0.875turn); */
  transform: rotate(-45deg) translateX(-30%);
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
  box-shadow: 10px 10px 10px 10px; 
}
